<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Architect Test Suite">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".php">./TestResource/</directory>
        </blacklist>
    </filter>
    <php>
        <const name="RESOURCE_PATH" value="./TestResource/"/>
        <const name="DB_DSN" value="mysql:hostname=localhost;dbname=test_architect;charset=UTF8"/>
        <const name="DB_USER" value="root" />
        <const name="DB_PASS" value="toor" />
    </php>
</phpunit>