<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <!-- PHP configuration -->
    <item name="ERROR_REPORTING">32767</item>
    <item name="DISPLAY_ERRORS">1</item>
    
    <!-- Default paths -->
    <item name="THEME_PATH">./theme</item>
    <item name="MODULE_PATH">./module</item>
    <item name="IDIOM_PATH">./idiom</item>
    <item name="CACHE_PATH">./cache</item>
    <item name="LOG_FILE">./log/log.txt</item>
    <item name="BASE_URL">/architectphp/apptest</item>
    <!-- empty INDEX_FILE if you use URL rewrite -->
    <item name="INDEX_FILE">index.php</item>
    
</config>
