/* 
    Document   : style
    Created on : 14/Out/2013, 19:27:31
    Author     : mafonso
    Description:
        Fine tune demo carousel
*/
.carousel {
	text-align: center;
	margin: 0 auto;
	height: 200px;
	max-width: 780px;
}

.carousel-inner > div > div {
	height: 200px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}