/* 
    Document   : style
    Created on : 25/Out/2013, 19:51:15
    Author     : mafonso
    Description:
        Demo module stylesheet
*/

pre {
    background-color: #3f3f3f;
    color: white;
    font-weight: bold;
}

.gallery .item {
    width: 102px;
    height: 102px;
    text-align: center;
    overflow: hidden;
}

.gallery .thumb {
    margin: 0 auto;
}
